@page "/users/workflow"

@using BlazorSample.Data
@using BlazorSample.Components

@inject UserService UserService
@inject NavigationManager NavigationManager

<MatHeadline4>Workflow Example</MatHeadline4>

<p>Create a new user.</p>

<hr />

<MatTabGroup @bind-ActiveIndex="@tabIndex">
    <MatTab Label="Enter User Information">
        <br />
        <EnterKeyEventArea OnEnterPressed="NextTab">
            <EditForm Model="user">
                <p>
                    <MatTextField TValue="string" Label="User ID" @bind-Value="@user.UserId" Required="true"></MatTextField>
                </p>
                <p>
                    <MatTextField TValue="string" Label="First Name" @bind-Value="@user.FirstName" Required="true"></MatTextField>
                </p>
                <p>
                    <MatTextField TValue="string" Label="Last Name" @bind-Value="@user.LastName" Required="true"></MatTextField>
                </p>
                <p>
                    <MatTextField TValue="string" Label="Department" @bind-Value="@user.Department"></MatTextField>
                </p>
                <p>
                    <MatTextField TValue="string" Label="Phone Number" @bind-Value="@user.PhoneNumber"></MatTextField>
                </p>
            </EditForm>
            <hr />
            <p>
                <MatButton Raised="true" OnClick="NextTab"><MatIcon Style="margin-right:5px" Icon="@MatIconNames.Arrow_right" /> Next Page</MatButton>
            </p>
        </EnterKeyEventArea>
    </MatTab>
    <MatTab Label="Select a User Image">
        <br />
        <EnterKeyEventArea OnEnterPressed="SubmitForm">
            <p>
                <Image Base64Data="@user.ImageBase64"
                       DefaultImage="UserPlaceholder.jpg"
                       StyleHeight="200px"
                       StyleWidth="200px" />
                <FileUploader @bind-FileBase64="@user.ImageBase64"></FileUploader>
            </p>
        </EnterKeyEventArea>
        <hr />
        <p>
            <MatButton Raised="true" OnClick="PreviousTab"><MatIcon Style="margin-right:5px" Icon="@MatIconNames.Arrow_left" /> Previous Page</MatButton>
            <MatButton Raised="true" OnClick="SubmitForm"><MatIcon Style="margin-right:5px" Icon="@MatIconNames.Done" />  Submit</MatButton>
        </p>
    </MatTab>
</MatTabGroup>

@code {
    private User user = new User();
    string fileName;
    public int tabIndex = 0;

    private void SubmitForm()
    {
        UserService.CreateNewUser(user);
        NavigationManager.NavigateTo("/Users", true);
    }

    async Task HandleFileUpload(IMatFileUploadEntry[] files)
    {
        fileName = files[0].Name;
        user.ImageBase64 = await UserService.FileUploadToBase64Async(files[0]);
    }

    private void NextTab()
    {
        tabIndex = tabIndex + 1;
    }
    private void PreviousTab()
    {
        tabIndex = tabIndex - 1;
    }
}
