@page "/users"

@using BlazorSample.Data
@inject UserService UserService

<MatHeadline3>User List</MatHeadline3>

<MatBody1>Current list of users.</MatBody1>

@if (users == null)
{
<MatBody1><em>Loading...</em></MatBody1>
}
else
{

<MatTable SearchTermFieldLabel="Search By First Name" SearchTermFieldPlaceHolder="First Name" PageSize="12" Items="@users" LoadInitialData="true" Striped="true" RequestApiOnlyOnce="true" AllowSelection="true" RowClass=""
          ApiUrl="" FilterByColumnName="FirstName" DebounceMilliseconds="150" class="mat-elevation-z2 w-100">
    <MatTableHeader>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Phone Number</th>
        <th>Controls</th>
    </MatTableHeader>
    <MatTableRow>
        <td style="width:20%">@context.UserId</td>
        <td style="width:20%">@context.FirstName</td>
        <td style="width:20%">@context.LastName</td>
        <td style="width:20%">@context.Department</td>
        <td style="width:20%">@context.PhoneNumber</td>
        <td style="width:unset">
                <MatButton Style="background-color:cadetblue" Raised="true" Link="@CreateViewLink(context)"><MatIcon Style="margin-right:5px" Icon="@MatIconNames.Visibility" />Details</MatButton>
        </td>
    </MatTableRow>
</MatTable>
}

@code {
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }

    private string CreateViewLink(User user)
    {
        return $"/users/view/{user.UserId}";
    }

}
